.main-container {
  direction:rtl;

  &[data-font="Shofar"] {
    font-family: 'Shofar';
  }

  &[data-font="Courier New"] {
    font-family: 'Courier New';
    code, pre {
      font-family: 'Courier New';
    }
  }
}

.regular-layout {
  margin: 0 1em;
}

.reading-layout {
  margin: 0 1em;

  @media (min-width: 659px) {
    margin: 0 auto;
    max-width: 60vw;
  }

  @media (min-width: 959px) {
    max-width: 40vw;
  }
}
