@media (min-width: 659px)
  .main-container
    margin: 0 auto
    max-width: 60vw

@media (min-width: 959px)
  .main-container
    margin: 0 auto
    max-width: 40vw

.header-anchor[href="#"],
.header-anchor[href^="#-"]
    display none